html
{
    font-size: 10px;
}
body
{
    background-image: url('bg.png');
}
.container
{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    margin: auto;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*.header__text
{
    font-family: 'Poppins';
}
.header--right
{
    text-align: right;
}
.header--left
{
    text-align: left;
}*/
.header--big
{
    font-size: 6rem;
    font-weight: bold;
}
.header--blue
{
    color: #525FFB;
}
.btn
{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;
    display: inline-block;
}
.btn--blue
{
    border: #525FFB solid 3px;
    color: #525FFB;
}
.btn--darkBlue
{
    border: rgb(56, 8, 100) solid 3px;
    background-color: rgb(56, 8, 100);
    color: white;
}
.btn--oval
{
    border-radius: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.btn--right
{
    float: right;
}
.btn--space
{
    margin-left: 35px;
}
p
{
    font-size: 2rem;
}
.top
{
    display: flex;
    flex-direction: row;
}
.top__text
{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.top img
{
    width: 700px;
    height: 400px;
}
.top h1
{
    font-size: 4rem;
}
.btn_and_area_align
{
    display: flex;
}
.email
{
    resize: none;
    border-radius: 40px;
    font-size: 17px;
    width: 335px;
    height: 20px;
    padding: 10px;
    display: inline-block;
}
#h2Custom
{
    text-align: center;
}
.center 
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.center img
{
    width: 269.33px;
    height: 220.12px;
}
h2
{
    font-size: 3rem;   
}
.center__left
{
    color:white;
    background-color: rgb(56, 8, 100);
}
.center__middle
{
    color: black;
    background-color: rgb(192, 226, 226);
}
.center__right
{
    background-color: coral;
    color: black;
}
.center--size
{
    padding: 10px;
    width: 363.72px;
    height: 476.29px;
    border-radius: 15px;
}
.center--margin
{
    margin-left: 7rem;
    margin-right: 7rem;
}
.schedule
{
    margin-top: 70px;
    display: flex;
}
.schedule__text
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 35px;
}
.app
{
    display: flex;
    flex-direction: row-reverse;
}
.app__text
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 35px;
}
.app__icons
{
    display: flex;
    flex-direction: row;
}
.trust
{
    text-align: center;
}
.trust h3
{
    text-align: center;
    color: #525FFB;
    font-weight: bold;
    font-size: 8rem;
}
.footer
{
    text-align: center;
}
.footer .btn_and_area_align
{
    justify-content: center;
}
